*, *:after, *:before {
  box-sizing: border-box;
}

body, button, input, textarea {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

iframe {
  display: block;
}

a {
  text-decoration: none;
}

td {
  vertical-align: top;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}